/* Mobile First CSS */
body {
  display: flex;
  flex-direction: column;
}

header ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

article {
  width: 80%;
}

/* Media Query For Tablet */
@media (min-width: 481px) and (max-width: 768px) {
  header ul,
  main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: green;
  }

  article {
    width: 40%;
  }
}

/* Media Query for Desktop */
@media (min-width: 769px) {
  header ul,
  main {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: blue;
  }
  article {
    width: 30%;
  }
}

@media (orientation: landscape) {
  header ul {
    color: orange;
  }
}

main {
  background-color: black;
}

div {
  width: 1vw;
  height: 1vh;
  background-color: black;
  font-size: 1px;
  color: white;
}
